<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
    <p>
      {{chat.lastText}}
    </p>

    <ng-map center="41,-87" zoom="3">
      <marker icon="{{myCustomIcon}}" id="myPosition"
            position="41,-87">
      </marker>
      <marker icon="{{customIcon}}" ng-repeat="p in positions track by $index"
            id="custom-marker-{{$index}}"
            position="{{p.pos}}">
        </marker>
    </ng-map>
  </ion-content>
</ion-view>
